# Verany Global Project exclude paths
gradlew.bat
gradlew
/gradle
.gradle
gradle
.idea
.vscode
.temp
node_modules
settings

.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

old/
